<div class="row">
  <div class="col-md-1">
    <button class="btn btn-info" (click)="goBack()"><i class="fa fa-arrow-left"></i></button>
  </div>
</div>
<br>
<ng-container *ngIf="person$ | async as person">
  <h4>{{ person.name }}</h4>
  <br>
  <div class="row">
    <div class="col-md-6" *ngFor="let keyTitle of titleKeysPerson">
      <div class="row">
        <div class="col-md-4"><label>{{ keyTitle.title }}:</label></div>
        <div class="col-md-8">{{ person[keyTitle.key] }}</div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Height:</label></div>
        <div class="col-md-8">{{ person.height }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Mass:</label></div>
        <div class="col-md-8">{{ person.mass }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Hard Color:</label></div>
        <div class="col-md-8">{{ person.hair_color }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Skin Color:</label></div>
        <div class="col-md-8">{{ person.skin_color }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Eye Color:</label></div>
        <div class="col-md-8">{{ person.eye_color }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Birth year:</label></div>
        <div class="col-md-8">{{ person.birth_year }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Gender:</label></div>
        <div class="col-md-8">{{ person.gender }}</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-4"><label>Homeworld:</label></div>
        <div class="col-md-8">{{  person.homeworld }}</div>
      </div>
    </div>
  </div>-->
</ng-container>
