<app-list-item [border]="false">
  <h1 name *ngIf="isMyList">My Person List</h1>
  <h1 name *ngIf="!isMyList">Persons</h1>
  <button buttons *ngIf="isMyList" class="btn btn-success" (click)="createPerson()">Create</button>
</app-list-item>

<ng-container *ngIf="persons$ | async as persons">
  <app-list-item *ngFor="let person of persons.results">
    <div name>{{ person.name }}</div>
    <div buttons>
      <button class="btn btn-info" (click)="showPerson(person)">Show</button>
      <button class="btn btn-warning" *ngIf="isMyList" (click)="editPerson(person)">Edit</button>
      <button class="btn btn-danger" *ngIf="isMyList" (click)="deletePerson(person)">Delete</button>
    </div>
  </app-list-item>
  <div class="row align-items-center" *ngIf="!isMyList">
    <div class="col-md-1">
      <button class="btn btn-info" (click)="previous()" [disabled]="!persons.previous">
        <</button> </div> <div class="col-md-1">Total: {{ persons.count }}</div>
    <div class="col-md-1">
      <button class="btn btn-info" (click)="next()" [disabled]="!persons.next">></button>
    </div>
  </div>
</ng-container>
